.me-section {
height: auto;
    align-items: center;
    border: 10px solid rgb(228, 228, 228);
    transition: 0.7s ease-in-out;

}

.card_container {
    border: solid red;
    background: #313030;
    display: flex;
    align-items: center;
    justify-content: center;  
    position: relative;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: clarp(400px,23vw,100%);
    height: 100vh;
    
}


.card {
    padding: 2rem;
    border: 2px solid blue;
    width: 60vw;
}

.card_container h2 {
    background: rgb(195, 196, 194);
    font-family: var(--text-font);
    color: rgb(26, 25, 25);
    letter-spacing: 1.5px;
    font-size: clamp(10px, 2.5vw, 6rem);

}

.card_container p {
    color: var(--white);
    padding: 1rem 0 1rem 0;
    font-size: clamp(10px, 1.6vw, 3vw);
    font-weight: 600;

}

#foto {
    border: 2px solid green;
    width: 360px;
    height: 500px;
    object-fit: contain;
    background: no-repeat url("../img/aboutme-img/fotofelix_prev_ui.png");
    filter: drop-shadow(-24px -10px 110px #070000);

}

/* /* .card {
    width: 350px;
    padding: 30px;
    background: #778577;
    padding: 1rem;
    transition: 0.3s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
} */
.card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .8);
    transform: translateY(-10px) scale(1);
}

.card:hover .entry-title {
    background-position: -100% 0;
}

.entry-title {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(22, 160, 133, 1.0) 50%);
    background-size: 200%;
    background-position: 0 0;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;

}

.entry-title p {
    color: white;
    text-decoration: none;
}